/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =============================================================================
 */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -----------------------------------------------------------------------------
 */

@keyframes blink-warning {
  70% {
    color: #eeeeee;
  }

  to {
    color: #eeeeee;
    background-color: #db7b55;
  }
}

@keyframes blink-critical {
  70% {
    color: #eeeeee;
  }

  to {
    color: #eeeeee;
    background-color: #Cd3f45;
  }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -----------------------------------------------------------------------------
 */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: "FontAwesome 5 Free Solid", "Noto Sans", Roboto, sans-serif;
}

/* The whole bar */
#waybar {
  background: #141a1b;
  color: #eeeeee;
  font-family: "Noto Sans", Roboto, sans-serif;
  font-size: 13px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -----------------------------------------------------------------------------
 */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: #db7b55;
}

#battery.critical {
  color: #Cd3f45;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
  font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
  color: #db7b55;
}

#cpu.critical {
  color: #Cd3f45;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: #db7b55;
}

#memory.critical {
  color: #Cd3f45;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  background: #141a1b;
}

#network {
  /* No styles */
}

#network.disconnected {
  color: #db7b55;
}

#pulseaudio {
  /* No styles */
}

#pulseaudio.muted {
  /* No styles */
}

#custom-spotify {
  color: #16a085;
}

#temperature {
  /* No styles */
}

#temperature.critical {
  color: #Cd3f45;
}

#tray {
  /* No styles */
}

#window {
  font-weight: bold;
}

#workspaces button {
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #d6d6d6;
}

#workspaces button.focused {
  border-color: #16a085;
  color: #eeeeee;
  background-color: #16a085;
}

#workspaces button.urgent {
  border-color: #Cd3f45;
  color: #Cd3f45;
}
