# .editorconfig
#
# Source for controlling tabulation and formatting of files by name
#
# https://editorconfig.org
#
# Plugins required for...
#
# Vim: https://github.com/editorconfig/editorconfig-vim
# VSCode/VSCodium: https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig

root = true

# Set file defaults
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
charset = utf-8

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
indent_size = 8

# Default to two spaces for data languages
[*.{c,cpp,css,h,hpp,htm,html,js,json,nix,tf,ts,yml,yaml,xml,xhtml}]
indent_style = space
indent_size = 2
