# Global Prompt Variables
add_newline = true
scan_timeout = 100
format = """
$username\
$hostname\
$shlvl\
$kubernetes\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$hg_branch\
$docker_context\
$package\
$cmake\
$dart\
$dotnet\
$elixir\
$elm\
$erlang\
$golang\
$helm\
$java\
$julia\
$nim\
$nodejs\
$ocaml\
$perl\
$php\
$purescript\
$python\
$ruby\
$rust\
$swift\
$terraform\
$zig\
$nix_shell\
$conda\
$memory_usage\
$aws\
$gcloud\
$crystal\
$cmd_duration\
$custom\
$line_break\
$jobs\
$battery\
$time\
$status\
$env_var\
$character"""


[username]
format = "[$user]($style) in "
show_always = true
disabled = false

[hostname]
ssh_only = false
format = "⟨[$hostname](bold green)⟩ in "
disabled = false

[directory]
truncation_length = 3
fish_style_pwd_dir_length = 1

[env_var]
style = "white bold"
format = "[$env_value]($style) "
variable = "STARSHIP_SHELL"
default = "?"
